.info-tool-tip__text {
  width: 358px;
  margin: 0 auto 60px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .info-tool-tip__text {
    width: 244px;
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 24px;
  }
}

