.element__dump {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  padding: 0;
  background-image: url(../../../images/dump.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  z-index: 2;
}

.element__dump:hover {
  opacity: 0.5;
  cursor: pointer;
}