.info-tool-tip__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 430px;
  max-height: 330px;
  background-color:  #FFFFFF;
  border-radius: 10px;
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .info-tool-tip__container {
    width: 282px;
  }
}