.element__like {
  width: 22px;
  height: 19px;
  padding: 0;
  padding-right: 27px;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.element__like:hover {
  opacity: 0.5;
  cursor: pointer;
}